:root {
    --primary-color-1: #0B162C;
    --primary-color-2: #1C2942;
    --primary-color-3: #3B556D;
    --primary-color-4: #5FC2BA;
    --primary-color-5: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/** NAVBAR **/

nav {
    width: 100%;
    background-color: var(--primary-color-2);
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color-2);
    color: var(--primary-color-5);
}

.navbar-left {
    color: var(--primary-color-5);
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-right ul {
    display: flex;
    list-style: none;
}

.navbar-right ul li {
    margin: 0 15px;
}

/* HEADER */ 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-4);
}

#profil-picture {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 30%;
    margin-top: 7rem;
}

/* PROJECTS */

h1, h2 {
    font-size: 5rem;
}

#projet {
    display: flex;
    justify-content: center;
    background-color: orange;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ABOUT */ 

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rosybrown;
}

/* CONTACT */ 

#contact {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1C2942;
}

/* FOOTER */ 

footer {
    background-color: brown;
}